@use './variables/colors'
@use './variables/fonts'

$card-box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.1)

*
    margin: 0
    padding: 0

body
    font-family: fonts.$main-font

html
    scroll-behavior: smooth

@mixin button-default-style()
    cursor: pointer

    font-family: fonts.$font-dev
    font-size: 1.2rem

    border: none

    background: colors.$main-color
    color: colors.$second-color

@mixin row-space-around()
    display: flex
    flex-direction: row
    justify-content: space-around

@mixin column-space-around()
    display: flex
    flex-direction: column
    justify-content: space-around

@mixin column-space-between()
    display: flex
    flex-direction: column
    justify-content: space-between

@mixin row-space-between()
    display: flex
    flex-direction: row
    justify-content: space-between

@mixin card-style-default()
    width: 30rem

    border-radius: 10px

    height: 20rem
    padding: 1rem

    box-shadow: $card-box-shadow

@mixin nav-ul-responsive()
    display: flex
    flex-direction: column
    align-items: center

    gap: 5rem

    position: absolute

    margin-top: 80vh

@mixin input-default-style()
    width: 100%

    border: none

    height: 3rem

    border-radius: .3rem

    text-align: center

/* Menu Expanded */

.menu-expanded
    height: 100%
    width: 100%

    text-align: center

    overflow: hidden

    background-color: colors.$main-color

    transition: transform .3s
    transform: translateY(0)

body.menu-expanded .login
    display: none

body.menu-expanded nav ul
    @include nav-ul-responsive()

    margin-left: 30%

body.menu-expanded> :not(nav)
    visibility: hidden

/* Navbar */

nav
    @include row-space-around()

    align-items: center

    width: 100%
    height: 4rem

    background: colors.$main-color
    color: colors.$second-color

    z-index: 1

    position: sticky
    top: 0

nav div
    display: flex
    flex-direction: row

    align-items: center

    gap: 6rem

nav h2
    font-family: Inconsolata
    cursor: pointer

nav ul
    display: flex
    flex-direction: row

    text-decoration: none

    gap: 5rem

nav ul li
    list-style: none

nav ul li a
    text-decoration: none
    color: colors.$second-color

nav svg
    display: none

/* Main */

main
    @include row-space-around()

    margin-top: 5rem
    width: 100%

    align-items: center

main .content
    display: flex
    flex-direction: column

    gap: 4rem

.content h1
    font-size: 3rem
    line-height: 4.5rem

    color: colors.$text-color

.content p
    font-size: 1.1rem
    line-height: 2rem

    color: colors.$text-color

.content button
    @include button-default-style()

    height: 2.5rem
    width: 25%

    border-radius: 10px

    transition: .3s

.content button:hover
    background: colors.$button-hover

main img
    height: 30rem

section
    width: 100%

    margin-top: 5rem

.cards-information
    @include row-space-around()

    margin-top: 10rem

.card
    @include column-space-around()

    @include card-style-default()

    align-items: center
    text-align: center

.card img
    height: 70px
    width: 70px

.card h2,
.card p
    line-height: 1.5rem
    color: colors.$text-color

.card a
    @include button-default-style()

    border-radius: 40px

    width: 50%
    padding: .8rem

    text-decoration: none

/* Puclications */

.puclications
    width: 50%
    height: 13rem

    border-radius: 20px

    margin-inline: auto
    margin-top: 10rem

    padding: 2rem

    box-shadow: $card-box-shadow

    color: colors.$text-color

.head-publication
    @include row-space-between()

    width: 100%

    align-items: center

    margin-bottom: 4rem

.head-publication button
    @include button-default-style()

    height: 3rem
    width: 7rem

    border-radius: 30px

.infromations
    @include row-space-between()

    align-items: center
    gap: 2rem

    line-height: 1.5rem

/* Plataform */

.plataform
    @include row-space-around()

    align-items: center

    background: colors.$main-color

    height: 30rem

.users,
.community,
.articles
    @include column-space-around()

    color: colors.$second-color

    align-items: center
    text-align: center

    gap: 2rem

.users span,
.community span,
.articles span
    display: none

.users h2,
.community h2,
.articles h2
    font-size: 5rem

    position: absolute

.users h3,
.community h3,
.articles h3
    font-size: 2rem

    margin-top: 10rem

    font-family: fonts.$font-dev

section:nth-child(5)
    text-align: center

    font-family: fonts.$main-font

/* Modal community */

.modal-community
    @include column-space-around()

    display: none

    background: colors.$bg-modal

    border-radius: .5rem

    width: 50rem
    height: 50rem

    padding-inline: 2rem
    margin-inline: auto

    margin-top: -27rem

.modal-community div
    text-align: left

.modal-community .head
    @include row-space-between()

    align-items: center

    color: colors.$text-color

.modal-community .head h3
    font-family: fonts.$font-dev

.modal-community .head svg
    height: 2.5rem

    cursor: pointer

.modal-community .head svg path
    stroke: colors.$text-color

.modal-community input
    @include input-default-style()

.modal-community h4
    line-height: 2rem

.tags input
    margin-bottom: 1rem

.modal-community button
    @include button-default-style()

    height: 3rem
    width: 70%

    margin-inline: auto

    border-radius: .5rem

section button:nth-child(1)
    @include button-default-style()

    font-family: fonts.$main-font

    height: 3.5rem

    padding-inline: 1rem

    border-radius: 1rem

    z-index: -1

.cards
    @include row-space-around()

.card-community
    @include card-style-default()
    @include column-space-around()

    z-index: -1

    height: 25rem

    margin-top: 2rem
    margin-inline: auto

    padding: 1rem

    text-align: left

.card-community .header-card
    line-height: 2rem

    align-items: center

    color: colors.$text-color

    gap: 1rem

.card-community .description
    color: colors.$text-color

.user-image-perfil img
    height: 2.5rem

    background: colors.$main-color
    border-radius: 50%

.tags ul
    list-style: none

    display: flex
    flex-direction: row

    gap: 1rem

.tags ul li a
    text-decoration: none

    padding: .5rem

    border-radius: 3rem

    background: colors.$bg-color-link
    color: colors.$second-color

.card-community button
    @include button-default-style()

    margin-left: 70%

    width: 30%
    height: 2.5rem

    border-radius: 30px

/* Responsive */

@media only screen and (max-width: 1024px)
    nav
        height: 3rem

        gap: 10rem

    nav h2
        font-size: 1rem

    nav ul
        display: none

    nav svg
        height: 2rem

    nav svg:nth-child(3)
        display: block

    main
        margin-top: 2rem

        padding-inline: .5rem

        width: 95%

    .content h1
        font-size: 2rem

        line-height: 3.3rem

    .content p
        line-height: 2.3rem

    .content button
        width: 50%

    main img
        display: none

    .plataform
        @include column-space-around()

        height: 50rem

        gap: .3rem

    .users h2,
    .community h2,
    .articles h2
        font-size: 3rem

    .users h3,
    .community h3,
    .articles h3
        font-size: 1.8rem

    .modal-community
        max-width: 280px

        margin-top: -27rem

        height: 40rem

    .modal-community input
        height: 2rem

    .modal-community button
        height: 2.5rem

        width: 80%

    .cards
        @include column-space-around()

    section button:nth-child(1)
        height: 2.5rem

    .card-community
        max-width: 330px

        margin-top: 2rem

    .user-image-perfil img
        height: 1.8rem

    .card-community button
        width: 45%  
        margin-left: 55%

    /* Publications */

    .cards-information
        flex-direction: column

        margin-top: 3rem

        gap: 3rem

    .card
        max-width: 19rem

        margin-inline: auto

    .card button
        height: 40px
        width: 60%

    .puclications
        margin-top: 3rem

        padding: 1rem

        width: 19rem
        height: 20rem

    .head-publication button
        display: none
