@use '../variables/_colors'

.dark-mode
    background: colors.$bg-dark-mode
    
nav.dark-mode
    background: colors.$button-hover

main.dark-mode  h1,
main.dark-mode p
    color: colors.$text-color-dark-mode

main.dark-mode button
    background: colors.$button-hover